.resizer {
    display: inline-block;
    /* background: blue; */
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
  }
  .rowClass{
    border-right: 1px solid black;
  }